.prizes__wrapper{
    /* max-inline-size: 477px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}


@media (width <= 650px){
    .prizes__wrapper{
        display: block;
    }
}