.prizes__img_absolute{
    position: absolute;
    left: revert;
    right: -8rem;
    top: 0;
    z-index: -1;
    transform: translateY(-16rem);
}

@media (width <= 650px){
    .prizes__img_absolute {
        display: block;
    }
}

