@media (width <= 650px){
    .prizes__img {
        display: none;
    }

    .prizes__img_mobile{
        display: block;
        position: inherit;
        inline-size: 100%;
        object-fit: contain;
        max-inline-size: 560px;
        max-block-size: 320px;
    }
}


@media (width >= 651px){
    .prizes__img {
        display: block;
    }

    .prizes__img_mobile{
        display: none;
        position: inherit;
    }
}


