/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Tektur", arial, sans-serif;
    --accent-font: "Mozer", arial, sans-serif;
    --light-weight: 200;
    --main-weight: 400;
    --accent-weight: 500;
    --bold-weight: 700;
    --bg-color: #0d2a40;
    --bg-border-color: #8E8E8E;
    --main-color: #0B0A32;
    --accent-color: #000;
    --primary-text-color: #ffffff;
    --secondary-text-color: #0D2A40;
    --heart-color: #000;
    --footer-link-color: #fff;
    --heart-fill-color: #ff0000;
    --decoration-color:#430B54;
    --decoration-color-light:#540B44;
    --section-font-size: clamp(1.75rem, 1.432rem + 1.591vw, 2.625rem);
  }