.prizes__wrapper_row{
    flex-direction: row;
    max-inline-size: 1200px;
    gap: 71px;
    justify-content: flex-end;
    padding-block-start: clamp(2rem, 0.182rem + 9.09vw, 7rem);
    align-items: center;
}



.prizes__list > li:nth-child(1){
    flex-direction: row;
    max-inline-size: 100%;
    align-items: center;
    gap: 70px;
    justify-content: start;
    padding: 0;
    padding-inline-start: clamp(0rem, -2.341rem + 11.7vw, 6.438rem);
}
