.prizes__wrapper_row{
    flex-direction: row;
    max-inline-size: 1200px;
    gap: 71px;
    justify-content: flex-end;
    padding-block-start: clamp(2rem, 0.182rem + 9.09vw, 7rem);
    align-items: center;
}



