@import './__container/footer__container.css';
@import './__text/footer__text.css';
@import './__title/footer__title.css';
@import './__text-accent/footer__text-accent.css';
@import './__wrap/footer__wrap.css';
@import './__img/footer__img.css';
.footer{
    position: relative;
    background-color: var(--bg-color);
    padding-block-start: 130px;
    z-index: 1;
    overflow: hidden;
    min-block-size: 80.9dvh;
}

.footer .decoration-element_left:nth-child(5){
        bottom:32.8%;
        top: revert;
        left: 0;
}
.footer .decoration-element:nth-child(2){
    top: 2.3%;
}