.prizes__icon{
    max-inline-size: 100px;
    inline-size: 100%;
    object-fit: contain;
    transform: translate(-5rem, 2rem);
}

@media (width <= 650px){
    .prizes__icon{
        transform: none;
    }
}